/*
Do not change the style starts.
 */
.images_wrapper, .bg_wrapper, .video_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.image, .bg_image_1, .bg_image_2, .bg_image_3, .bg_image_4, .bg_image_5  {
	margin-bottom: 5000px;
}
.bg_image_1, .bg_image_2, .bg_image_3, .bg_image_4, .bg_image_5 {
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 519px;
}
.bg_image_1 {
	background: url("bg_images/slide1.png");
}
.bg_image_2 {
	background: url("bg_images/slide2.png");
}
.bg_image_3 {
	background: url("bg_images/slide3.png");
}
.bg_image_4 {
	background: url("bg_images/slide4.png");
}
.bg_image_5 {
	background: url("bg_images/slide5.png");
}
/*
Do not change the style ends.
 */
/*
Include your own style starts.
 */
 .lazy-bg {
	background: none;
}